# VSCode
/.vscode/


# dependencies
node_modules/

# build output
.vscode-test/
dist/
out/
*.vsix

# temp files
*~

# local files
.DS_Store
.env.local
.env.*.local
.eslintcache

# log files
npm-debug.log*
